{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Overview of {{ stream }} Value Stream{% endblock %}</h1>
{% endblock %}

{% block content %}
  Parts in {{ stream }} value stream:
  <hr style="visibility:hidden;">
  {% for part in partlist %}
    <form method="post">
        <label for="part" style="width:30%;display:inline-block">{{ part }}</label>
        <input type="hidden" name="form" value="1">
        <input type="hidden" name="part" value="{{part}}">
        <input type="submit" name="change" value="Edit">
        <input type="submit" name="change" value="Remove">
    </form>
  {% endfor %}
  {% for part in nopartlist %}
    {{ part }}
    <hr style="visibility:hidden;">
  {% endfor %}
  <form method="post">
    <label for="newpart">Add part to value stream:</label>
    <input type="hidden" name="form" value="2">
    <input name="newpart" id="newpart" required>
    <input type="submit" value="Add New Part">
  </form>
  <hr>
  <form method="POST">
      <input type='submit' name='delete' value='Delete {{ stream }} Value Stream'>
      <input type='hidden' name='form' value="3">
  </form>
{% endblock %}